<nb-accordion multi>
  <nb-accordion-item>
    <nb-accordion-item-header>
      Goals of this website
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      How to register
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      If you want to be part of the iLab family please write an email to TODO Marc Oliver Pahl.
      If you are a student you don't need to register if not directly advised by your instructor.
      If you are an instructor, please ask your supervisor to help you register in the GitLab for this webiste.
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      How to download courses
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      At the bottom of each lab details page you will find a box with your personalized download link.
      Use this link at the import/export page of your Labsystem.
      If you do not have the option of using links there, please update your Labsystem.
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      How to use the survey
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      If you want to use the survey follow these simple steps:<br>
      1. Choose a lab from the catalog<br>
      2. On the bottom of the page generate the necessary number of URLs (It does not matter if you create too many, just do not hand out the spare links)<br>
      3. Either give the links to the students directly, or distribute them through the labsystem<br><br>
      The links are one-time-use only, so without an appropriate link a survey submit will not be saved in the Database!
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      I have a Problem who do I contact?
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      TODO Gute Frage, aber denk mal auch Marc?
    </nb-accordion-item-body>
  </nb-accordion-item>
  
</nb-accordion>